<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}/albania">
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/albania.css" />
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Script -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.min.js">
    </script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="jumbotron intro-header">

                <div class="intro-message col-md-6 hidden-xs">
                    <h1>Team Albania!</h1>
                </div>
                <div class="dropdown col-md-3 col-md-offset-3">
	                <button class="btn btn-info dropdown-toggle"  style="float:right"  type="button" id="dropdownMenu1" data-toggle="dropdown">
	                	<span class="glyphicon glyphicon-heart"></span>  Donate! <span class="caret"></span>
	               	</button>
	                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"  style="float:right" >
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="https://give.cru.org/0746249">to Gordon's year-long STINT</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#team">to a member of Team Albania 2015</a></li>
					</ul>
				</div>
        
            </div>
        </div>
        <div class="row intro-links">
            <div class="col-md-6">
            <a href="mailto:gordon.burgett@cru.org?Subject=Please%20add%20me%20to%20your%20email%20list&Body=Hi%20Gordon%21%0APlease%20add%20me%20to%20the%20list%20to%20receive%20your%20email%20newsletter.">
            <span class="glyphicon glyphicon-envelope"></span> Get the newsletter!
            </a>
            </div>
            <div class="col-md-6">
            <a href="/albania-tshirts"><span class="glyphicon glyphicon-tag"></span> Buy a T-Shirt!</a>
            </div>
        </div>

        <div class="row">
        	<div class="col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        	{{ .Content }}
        	</div>
        </div>
        
        {{ partial "share.html" . }}
   </div>
        <!-- /.container -->
    {{ partial "footer.html" .}}

  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {{ partial "script.html" .}}
  </body>
</html>