<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}/albania">
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/albania.css" />
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Script -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.min.js">
    </script>
  </head>
  <body>
    {{ partial "albania_nav.html" . }}

    <div class="container">

        <div class="row">
          <iframe src="{{ .Params.mailchimp }}">
      	   <a href="{{ .Params.mailchimp }}">View this newsletter in your browser</a>
          </iframe>
        </div>
        
        {{ partial "share.html" . }}
   </div>
        <!-- /.container -->
    {{ partial "footer.html" .}}

  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/albania.js"></script>
    {{ partial "script.html" .}} 

  </body>
</html>