<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.LanguagePrefix }}/">{{ i18n "T_home" }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="{{ if eq .Params.navtitle "Albania" }}active{{ end }}"><a href="{{ .Site.LanguagePrefix }}/albania">{{ i18n "T_albania" }}</a></li>
         <li class="dropdown {{ if eq .Params.menu "journal" }}active{{ end }}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ if eq .Params.menu "journal" }}{{ .Title }}{{ else }}{{ i18n "T_journal" }}{{ end }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{ range where .Site.Pages "Params.menu" "=" "journal" }}
              <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
         </li>

         <li class="dropdown {{ if eq .Params.menu "newsletter" }}active{{ end }}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ if eq .Params.menu "newsletter" }}{{ .Title }}{{ else }}{{ i18n "newsletter" 2 }}{{ end }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{ range where .Site.Pages "Params.menu" "=" "newsletter" }}
              <li>
                <a href="{{ .Params.mailchimp }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
         </li>
      </ul>
    </div>
  </div>
</nav>