{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- if site.Params.profileImage }}
    <div class="entry-profile-image">
        <img src="{{ site.Params.profileImage }}" alt="{{ site.Params.author }}" />
    </div>
    {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
