    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                {{ .Content }}


                <div>
                <form id="searchForm">
                    <div class='searchContainer'>
                    <i class="fa fa-search" aria-hidden="true" onClick="$('#searchSubmit').click();"></i>
                    <input type="search" placeholder="Search..."></input>
                    <i id="searchSpinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    <button type="submit" id="searchSubmit" style="display:none;"></button>
                    </div>
                </form>
                </div>

                <div>
                <table id="searchResults">
                </table>
                </div>

            </div>
        </div>
    </body>
    {{ partial "script.html" .}}

    <script src="/js/search-index.min.js"></script>
    <script src="/js/search.min.js" data-language="{{ .Lang }}"></script>
    <script type="text/javascript">
      $('.panel-cover').addClass('panel-cover--collapsed');
    </script>
</html>
